/* ngShowMore - plugin for expanding text */
.ngShowMore {
    position: relative;
    padding-bottom: 1.5em;/*set the same as line-height from '.ngShowMore *' */
}
.ngShowMore * {
    line-height: 1.5!important; /*line-height reset, remove if causing issues*/
}
.ngShowMoreArea {
    overflow: hidden;
    max-height: 6em; /*default for 3 lines shortening, customize with formula max-height=number_of_lines*line-height*/

    -webkit-transition: .5s ease-out max-height;
    transition: .5s ease-out max-height;
    will-change: transform;
}
.ngShowMoreArea p:last-child {
    margin-bottom: 0;
}
.ngShowMoreExpander { /*hidden before checking if needed*/
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* ngShowMore - plugin for expanding text */