<div class="ngShowMore">
    <div class="ngShowMoreArea">
        <div class="ngShowMoreInArea">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor facilisis posuere. Nam vestibulum libero ligula, a consequat mauris efficitur nec. Ut maximus felis sed erat auctor consectetur. Etiam convallis, felis at tempor ultrices, felis dolor rhoncus justo, vitae pharetra ligula quam at elit. Vivamus dolor nunc, sollicitudin vel massa eu, suscipit ullamcorper felis. Nullam malesuada iaculis tellus, dapibus ultricies augue imperdiet quis. Donec purus dolor, lacinia in mauris eu, placerat semper risus. Donec placerat eget augue in luctus.
        </div>
    </div>
    <a class="ngShowMoreExpander">Show more link</a>
</div>